<div class="component-light product-show p-3 mb-5">
    <h5 class="text-center">Featured Product!</h5>
    <img
        alt="{{ featuredProduct.name }}"
        src="{{ asset('/uploads/products/'~featuredProduct.imageFilename) }}"
        class="d-block"
    >
    <div class="pt-3">
        <h6>
            {{ featuredProduct.name }}

            {{ featuredProduct.priceString|format_currency('USD') }}
        </h6>
        <div
            class="d-flex align-items-center justify-content-center">
            {{ form_start(addToCartForm) }}
                {{ form_row(addToCartForm.quantity) }}

                {% if addToCartForm.color is defined %}
                    {{ form_row(addToCartForm.color) }}
                {% endif %}
                <button class="btn btn-info btn-sm" formnovalidate>
                    +
                </button>
            {{ form_end(addToCartForm) }}
        </div>
    </div>
</div>
