{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>Register</h1>

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    {{ form_row(registrationForm.agreeTerms, {
                        label: 'I agree to these non-existent terms'
                    }) }}

                    <button class="btn btn-lg btn-primary">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
