{{ form_start(addToCartForm, {
    attr: { class: 'cart-add-controls d-flex align-items-center justify-content-baseline' }
}) }}
    {% if addToCartForm.color is defined %}
        <div data-controller="color-square">
            {{ form_widget(addToCartForm.color) }}

            {% for color in addToCartForm.vars.data.product.colors %}
                <span
                    class="color-square"
                    data-action="color-square#selectColor"
                    style="background-color: rgb({{ color.red }}, {{ color.green }}, {{ color.blue }});"
                ></span>
            {% endfor %}
        </div>
    {% endif %}

    {{ form_widget(addToCartForm.quantity, {
        attr: { class: 'mx-3' }
    }) }}

    <button class="btn btn-info btn-sm" formnovalidate>
        +
    </button>
{{ form_end(addToCartForm) }}

<div>
    {{ form_errors(addToCartForm) }}
    {% if addToCartForm.color is defined %}
        {{ form_errors(addToCartForm.color) }}
    {% endif %}
    {{ form_errors(addToCartForm.quantity) }}
</div>
