<div class="list-group">
    {% for product in products %}
        <a
            role="option"
            class="list-group-item list-group-item-action"
            href="{{ path('app_product', { id: product.id }) }}"
        >
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <img
                        alt="{{ product.name }}"
                        src="{{ asset('/uploads/products/'~product.imageFilename) }}"
                        class="rounded"
                    >
                    <span class="px-1">{{ product.name }}</span>
                </div>
                <em>{{ product.priceString|format_currency('USD') }}</em>
            </div>
        </a>
    {% else %}
        <div class="list-group-item" role="option" aria-disabled="true">No results found!</div>
    {% endfor %}
</div>
