<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Brand</th>
            <th>Weight</th>
            <th>Price</th>
            <th>StockQuantity</th>
            <th>ImageFilename</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.brand }}</td>
            <td>{{ product.weight }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.stockQuantity }}</td>
            <td>{{ product.imageFilename }}</td>
            <td>
                <a href="{{ path('app_product', {'id': product.id}) }}">show</a>
                <a href="{{ path('product_admin_edit', {'id': product.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="9">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
