<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MVP Office Supplies{% endblock %}</title>
        <script src="https://kit.fontawesome.com/1d5069c136.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <script>
        document.addEventListener('click', () => {
            console.log('document clicked!');
        })
    </script>

        <div class="page-top">
            <header class="header px-2">
                <nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
                    <a class="navbar-brand" href="/">
                        <img src="{{ asset('images/mvp-logo-light.png' ) }}"
                                width="50"
                                height="50"
                                alt="MVP Office Supplies Logo"
                        >

                        <span class="p-3">MVP Office Supplies</span>
                    </a>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_cart') }}">
                                Shopping Cart ({{ count_cart_items() }})
                            </a>
                        </li>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('product_admin_index') }}">
                                    Admin
                                </a>
                            </li>
                        {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">
                                    Log out
                                </a>
                            </li>
                            
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}">
                                    Log in
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_register') }}">
                                    Register
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>

            {% for flash in app.session.flashBag.get('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ flash }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true"></span>
                    </button>
                </div>

            {% endfor %}
        </div>
        
        {% block body %}{% endblock %}
        

        <div
            class="footer mb-0"
            {{ stimulus_controller('made-with-love') }}
        >
        </div>
    </body>
</html>
